html
  head
    title= titulo
    link(rel="stylesheet", href="/css/style.css")
  body
    div.fundo1
      div.gridHeader
        div(style={width: "50%", height: "100px"})
        div#pad1(style={width: "100%", height: "100px"})
         h1#medium <span style="color: #FFFFFF" padding: 100px>Violino Épico</span><br><span style="color:#D99D55">Academy</span>
         p <span style="color: #FFFFFF"> A <b>nova escola</b> do violino. Aqui você aprende a tocar músicas que realmente gosta e que te <b>motivam</b> a continuar</span><br><br><br>
          div.button(style={width:"150px", height:"50px"}) 
            p Fazer inscrição
    div
      h1#especial as primeiras músicas no violino a gente nunca esquece!
    
    //- div.fundo2
    //-   div.gridFeat(style={color:'white'})
    //-     div.item Aulas ao vivo <br> 1x por semana
    //-     div.item Acesso imediato
    //-     div.item 1 ano de acesso
    //-     div.item Garantia de 15 dias 
    
    div#bgwhite
      div.center
        div.round
          p(align="center")
            <iframe width="100%" height="480" src="https://www.youtube.com/embed/ff7p9gPA0wQ" title="As primeiras nove músicas no Violino - Violino Épico" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        div 
          p#regular <br><br> Assista o vídeo e descubra como você pode começar hoje mesmo, a tocar <b>músicas que você gosta</b>, que te emocionam e vão te motivar a continuar tocando <b>todo dia</b>. <br><br> <b>Aprenda violino do zero em casa</b> praticando apenas alguns minutos por dia, mesmo sem conhecimento musical. <br><br> <b>Chega</b> de aprender músicas e canções de crianças para começar. Já comece com músicas que você gosta e toque para os seus amigos e familiares.<br><br> <b>Clique no botão abaixo<b> e dê o primeiro passo para a sua jornada musical!    
      
    div#bgGrad1
      div.gridDouble
        div 
          img(src='/img/violino1.png')
        div
         div#pad3
          h1#whiteReg A Base <span style="color:#D99D55">do Método</span>
          
          ul#whiteReg
            li#whiteReg Menos teórico e mais prático. 
            li#whiteReg Do zero a técnica em pouco tempo.
            li#whiteReg Repertório : De músicas clássicas até temas de filmes.
            li#whiteReg 20 minutos de estudo por dia.
      
      div.gridTriple
        div.inner#innerDown
          h2#whiteReg.item2 Pirâmide Paganini
          img(src='/img/piramide1.png' width=300)
          p#whiteReg A Pirâmide Paganini é a estrutura técnica do violinista. Você desenvolve sua técnica como blocos que constroem uma pirâmide, lapidando e reforçando, sempre sabendo exatamente do que você precisa para avançar. <br><br> Para a pirâmide ir mais alto, a base é sempre maior. <br><br> O curso possui 3 ciclos de aprendizado, e a cada ciclo você recebe mais técnicas para a pirâmide subir mais alto e seu som ser cada vez mais polido.<br><br> Ninguém derruba uma pirâmide.
        div.inner
          h2#whiteReg.item2 Repetições Haicai
          img(src="/img/haicai1.png" width=300)
          p#whiteReg A repetição é a mãe do aprendizado.<br><br>A chave das Repetições Haicai é a simplificação da música e a prática da técnica em intervalos bem determinados.<br><br>Você vence cada dia com a sensação de dever cumprido, tendo feito o suficiente pelo seu aprendizado, conquistando a técnica com facilidade.
        div.inner#innerDown
          h2#whiteReg.item2 Espiral do Artista
          img(src="/img/espiral1.png" width=300)
          p#whiteReg A realização artística é a razão de ser do Método Violino Épico.<br><br>A Espiral significa que sua musicalidade e expressão artística se desenvolvem junto com seu desenvolvimento técnico.<br><br>As técnicas da Pirâmide Paganini são como cores que você usa para pintar uma tela. Mais técnica são mais cores, mais cores resultam em um som mais bonito e cristalino.<br><br>A técnica está sempre a serviço da música.
        
    div#bgGrad2 
     div#pad2
     h1.gridSimple#white Diferença entre os <span style="color:#D99D55">Métodos</span> 
     div.gridDouble#white
      div.inner 
       h2.item2 Tradicional <br>
       p#regular Os métodos tradicionais de violino são baseados no <b>empirismo</b>, na <b>didática crua</b>, na <b>dependência da leitura de partitura</b> e em <b>músicas desconectadas</b> do contexto do aluno.<br><br>O trabalho para o aluno chegar numa expressão musical só acontece após um <b>longo período, de um a dois anos</b> para as primeiras conquistas artísticas.<br><br>A maioria desiste antes mesmo de terminar o primeiro ano, <b>sem nunca conhecer a realização artística.</b>
      div.inner
       h2.item2 Violino Épico <br>
       p#regular O Método Violino Épico é baseado na <b>previsibilidade</b>, na conquista da técnica através de conteúdos <b>aditivos e progressivos</b>, respeitando o tempo do aluno e <b>recompensando artisticamente</b> cada passo de seu desenvolvimento.<br><br><b>Os 3 Pilares criam no aluno consciência de onde ele está, para onde quer ir e qual o caminho para lá chegar.</b> Ao progredir na Pirâmide, o aluno vê cada técnica como parte de um todo. O processo leva à maestria e quando aplicado nas músicas aprimora <b>sua expressão artística.</b><br><br>A partitura aqui é reconhecida como um acessório para ser aprendido <u>paralelamente</u> ou <u>posteriormente</u> ao domínio das primeiras músicas.

    div#bgWhite 
     div#pad2
      h1.gridSimple#button Conheça alguns de nossos alunos
     div#pad3
     div.gridDouble
      div.round 
        <iframe width="400" height="227" src="https://www.youtube.com/embed/dZRP03vS4TY" title="1 MÊS TOCANDO VIOLINO - José Pereira - 55 anos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      div
        div#pad3
        h2#medium1 José Pereira
        p#regular Um homem de 55 anos, após um mês dentro do Método violino Épico, já está tocando suas músicas favoritas 
      
    div#bgWhite
      div#pad3
      h1.gridSimple#button Conheça o seu professor
      div#pad3
      div.gridDouble
       div
        h2#medium1 Germanno Falcão
        p#thin <b>Germanno Falcão</b> é violinista, professor de violino, rabequeiro e compositor. Formado em Música na UNICAMP, tocou em orquestras no Brasil, França e Dinamarca. Descobriu em suas viagens o quanto o violino está impregnado em culturas européias e nórdicas, de forma que <b>milhares de pessoas</b> tocam violino sem precisarem ser profissionais, mas <b>por amor</b>: Pessoas nos mais diversos ramos profissionais - historiadores, engenheiros, professores, jardineiros e até marinheiros - que tocam violino e têm consigo satisfação pela arte e pela vida através da música.<br><br>Com mais de dez anos de atuação em perfomance musical e ensino de violino, criou o <b>Violino Épico Academy</b> para trazer aos brasileiros a mesma satisfação musical para as pessoas - possibilitando à todos alta competência técnica e realização artística.
       div
        img.round(src="/img/perfil1.jpg" width="100%")
    
    div#bgGrad3
      div#pad3
      h1.gridSimple PARA QUEM É
      div.gridDouble
        div.gridSimple#white
          h2#shadow Do iniciante ao avançado
        div.gridSimple#white
          h2#shadow Do entusiasta ao profissional
      div.center2
        p#whiteReg Na <b>Violino Épico Academy</b> não importa se você é iniciante ou avançado no violino, se você toca profissionalmente ou por hobby, <b>nosso programa é para todos que desejam aprender a tocar músicas que realmente gostem e te motivam a continuar progredindo</b>.
      div.center

    div#bgBlack 
      h1.gridSimple#button Os ciclos da aprendizagem
      div#pad3
      div.gridDouble
        div.inner
          p#whiteReg O Violino Método Academy consiste em mais de 20 horas de conteúdos entre aulas complementares e aulas AO VIVO.<br> Todo o material é gravado e disponibilizado na plataforma para você rever quando quiser por até 1 ano.<br>Você terá acesso a:<br>+ Aulas AO VIVO com Germanno Falcão<br>+ Aulas complementares<br>+ Professores convidados<br>+ Central de dúvidas<br>+ Ferramentas para download<br>+ Material de apoio<br>+ Comunidade dos Arcos : Trilhando o mesmo caminho
        div.inner
          img.item2(src="/img/logo1.png" 
          width="80%")
        
        div#pad3
        div
        
        div.block1
         div.item3 
          h1#white <span style="color:#D99D55">Aulas de</span> Preparação
        div.inner
         div#whiteReg
          h1 Ciclo 0
          p Nesse primeiro momento vamos preparar seu violino e seu arco e serão apresentadas as ferramentas necessárias para você progredir.
          ul
            li Afinar violino 
            li Marcas no espelho
            li Preparando o arco 
            li Estruturando os estudos
            li Materiais úteis indispensáveis
          p Previsão de Conclusão: 2 a 3 horas
        
        div#pad3
        div
        
        div.block1
         div.item3
          div#pad2
           h1#white <span style="color:#D99D55">Arco</span> Pioneiro
        div.inner
         div#whiteReg
          h1 Ciclo 1
          p Aqui você terá as bases da postura, da pegada de arco, do dedilhado e a sincronia dos movimentos. Construiremos as primeiras músicas.
          ul 
            li 3 Pontos de apoio
            li Segurar o arco
            li Ponto de contato
            li Mediano do Arco
            li Escalas 1
            li Teoria das Notas
          p Previsão de Conclusão: 1 a 2 meses
        
        div#pad3
        div

        div.block1
         div.item3
          div#pad2
            h1#white <span style="color:#D99D55">Arco</span> Constante
        div.inner
         div#whiteReg
          h1 Ciclo 2
          p Você receberá novas técnicas que vão expandir seu horizonte sonoro. E solidificará tudo isso em três novas músicas.
          ul 
            li Dedilhado aditivo
            li Regiões de arco 
            li Pressão de arco 
            li Cordas simples
            li Cordas duplas 
            li Escalas 2
          p Previsão de Conclusão: 2 a 3 meses

        div#pad3
        div

        div.block1
         div.item3
          div#pad2
            h1#white <span style="color:#D99D55">Arco</span> Vigoroso

        div.inner
         div#whiteReg
          h1 Ciclo 3
          p Ao chegar aqui, seu violino já será um amigo íntimo. Mergulhe mais fundo em afinação, sonoridade, expressão e vibrato.
          ul 
            li Pesquisa de dedilhado 
            li Afinação por pesquisa 3 e 1
            li 3 grandes pressões
            li Variação de arcadas 
            li Domínio auditivo das escalas
            li Escalas 3
          p Previsão de Conclusão: 2 a 3 meses
    
    
    div#bgBlack 
     div#pad3
     div#white
      h1.gridSimple#shadow Primeiro repertório Épico
      div.center
        p#whiteReg O seu primeiro repertório do Violino Épico Academy é baseado em músicas clássicas e temas de filmes, que incentivam a vencer os obstáculos. Obtenha resultados rápidos e suficientes para se apresentar para os seus amigos e familiares.
      div.gridSimple
        div.gridTriple
          div
            h3 Hino a Alegria
          div
            h3 Mais perto quero estar
          div
            h3 Primavera
          div
            h3 Amazing Grace
          div
            h3 Bella Ciao
          div
            h3 Canção celta
          div
            h3 Piratas do Caribe
          div
            h3 Game of Thrones
          div
            h3 Parabéns 
    
    div#bgWhite
      div#pad3.block1
      h1.gridSimple#button INVESTIMENTO
      div#pad2
      div.gridDouble
        div#button3
          div#pad2
          p#medium1(align='center') Entre agora mesmo para a<span style="color:#D99D55"> Violino Épico Academy<br><br><br>por apenas 12x de </span>
          p#medium1(align='center') R$ 49,60<br>
          p#medium1(align='center') ou R$ 497 à vista
        div#button3 
          h1(align='center') Garantia
          p#regular.gridSimple Caso você se inscreva no Violino Épico Academy e sinta que o programa não fará sentido para você, envie um e-mail para nossa equipe em até 15 dias e peça o seu reembolso.
          div#pad3
    
    div#bgBlack
      h1.gridSimple#whiteReg Clique no botão abaixo e entre em contato conosco agora mesmo<br>
        
      div.gridSimple#button Falar com o atendimento
      
      p#whiteReg Está com dúvidas? <br> Entre em contato com nosso suporte! 

    div
      h1.gridSimple Dúvidas Frequentes
      div.center
        ul#regular
        li As aulas são online ? Como faço para assistir ?
        li O Violino Épico Acaemy consiste em mais de 20 horas de conteúdo entre aulas complementares e encontros AO VIVO.<br> Todo o material é gravado e disponibilizado na plataforma para você rever quando quiser por até 1 ano.<br>Você terá acesso a:<br>+ Aulas AO VIVO com Germanno Falcão<br>+ Aulas complementares<br>+ Central de dúvidas<br>+ Ferramentas para download<br>+ Material de apoio
        li Por quanto tempo as aulas ficam disponíveis na plataforma ?
        li As aulas ficam disponíveis na plataforma durante 1 ano.
        li Há um acompanhamento de dúvidas durante o programa ?
        li Sim, dentro da plataforma há uma sessão de “Central de dúvidas”, e 100% delas são respondidas pelos professores e equipe.<br><br>Nenhuma dúvida fica para trás.
        li Quais as formas de pagamento disponíveis ?
        li São 3 formas de pagamento disponíveis: Cartão de crédito (pagamento em até 2 cartões), Boleto ou PIX.<br><br>No cartão você pode parcelar em até 12x (há incidência de juros). Não há opção de parcelamento para PIX ou boleto.
        li Não tenho violino, posso me matricular mesmo assim ?
        li Não se preocupe, dentro do Violino Épico Academy vamos te ensinar a comprar a o seu primeiro violino no melhor custo benefício possível.
        li Já comecei violino mas não deu certo, porque devo confiar ?
        li Porque, diferente dos métodos tradicionais, o Violino Épico Academy dá importância para um aspecto técnico por vez, permitindo ao aluno assimilar cada coisa no tempo certo, sem apressar, e trazendo recompensas musicais desde o início o processo, facilitando dar o próximo passo. Além disso, você tem 15 dias de garantia para perceber os resultados do programa.
        li Já sou intermediário no Violino, o que eu vou aprender no Programa ?
        li Você que já tem alguma caminhada no violino aprenderá aqui as ferramentas que estruturam a prática mais consistente possível, dando longetividade para sua carreira. É uma revisão dos aspectos estruturais do violino, garantindo que você tenha ferramentas para assimilar os conteúdos avançados no futuro.
        li Tenho pouco tempo para praticar !
        li “Pouco tempo” é o que dizemos quando temos clareza do quê deve ser feito e por quanto tempo. Aqui, você encontra um sistema organizado que valoriza cada minuto de prática e você descobre que o “pouco tempo” que você pensa ter na verdade é tempo suficiente.
        li Tenho professor particular, posso entrar no Violino Épico Academy?
        li Se você sente que está progredindo bem com as aulas de seu professor e obtendo os resultados que você espera, talvez esse escola não seja para você. Mas o método aqui ensinado pode ser praticado sem prejuízo às suas aulas, principalmente porque as ferramentas que você aprenderá aqui são válidas para fortelecer sua maneira de aprender violino com seu professor,
        li Como funciona a garantia ?
        li Você possui 15 dias para experimentar o Violino Método Academy e conhecer o ambiente. É tempo suficiente para você decidir se o processo é para você. Se você optar pelo reembolso dentro de 15 dias, reembolsamos incondicionalmente e sem questionamentos.

      p.gridSimple Aviso legal : "Nenhuma informação contida neste produto deve ser interpretado como uma afirmação de obtenção de resultados.<br>Qualquer referência ao desempenho passado ou potencial de um método abordado no conteúdo não é, e não deve ser interpretada <br>como uma recomendação ou como garantia de qualquer resultado específico".

    div 
      p.gridSimple Copyright © 2023 Inc. Todos os direitos reservados. Violino Épico Academy. CNPJ: 35.340.671/0001-86<br>Política de Privacidade | Termos e Condições | Termos Legais
